*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
  line-height: .3;
}

html body {
  text-decoration: center;
  margin: 0 80px;
}

nav {
  margin: 0;
  position: relative;
  width: 573px;
  background-color: black;
  height: 60px;

}

h1 {
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 5%;
  font-size: 18px;
  font-weight: bolder;
  line-height: inherit;
}

h3 {
  padding-left: 5%;
  padding-top: 0%;
  padding-bottom: 3%;
  font-size: 14px;
  line-height: inherit;
}

.container {
  display: inline-block;
  background-color: lightgrey;
  grid-column: auto;
  margin: 0% 40%;
  width: 573px;
  margin-top: 40px;

}

.content:hover {
  background-color: darkgrey;
  width: 100%;
}

.content {
  width: 80%;
  float: left;
  padding: 3%;
}
.arrow-left {
  width: 0%;
  padding-left: 3%;
  padding-top: 4%;
}
.arrow {
  width: 5%;
  padding: 6%;
  padding-left: 95%;
}

.location {
  padding: 0%;
  border-bottom-style: solid;
  border-width: thin;
  border-color: black;
  display: inline-block;
  width: 100%;
}
